body{
    background-color: FEF2E9;
}
header{
    position: absolute;
    width: 1440px;
    height: 860px;
    background-image: url("work1.jpg");
}
header h1{
    position: absolute;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 67px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
header .formButt{
    position: absolute;
    width: 89px;
    height: 26px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    transition: border-color 0.3s;  
}
header .formButt:hover{
    border-color: white;
}
h2{
    position: absolute;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;

    color: #986A41;
}
p{
    position: absolute;
    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;

    color: #000000;
}
#blok1{
    position: absolute;
    left: 50%;
    right: 4.31%;
    top: 16.09%;
    bottom: 74.89%;

    background-image: url("work2.jpg");

}
#blok1 p{
    position: absolute;
    width: 622px;
    height: 449px;
    left: 59px;
    top: 1047px;
    text-align: left;
}
#blok2 p{
    position: absolute;
    width: 662px;
    height: 450px;
    left: 716px;
    top: 2114px;
    text-align: right;

}
#blok3 p{
    position: absolute;
    width: 603px;
    height: 542px;
    left: 81px;
    top: 3154px;
    text-align: left;
}
#blok3{
    position: absolute;
    width: 531px;
    height: 475px;
    left: 847px;
    top: 3154px;

    background-image: url("Capture.png");
    border: 4px solid #000000;
    border-radius: 12px;

}
#blok4 p{
    position: absolute;
    width: 1305px;
    height: 248px;
    left: 67px;
    top: 4211px;

    text-align: center;
}
#blok5{
    position: absolute;
    width: 696px;
    height: 716px;
    left: 46px;
    top: 4651px;
}
#blok6{
    position: absolute;
    width: 712px;
    height: 608px;
    left: 690px;
    top: 5055px;
}
.butt{
    
    position: absolute;
    width: 452px;
    height: 120px;
    left: 464px;
    top: 5684px;
    background: #CFAB9C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
   
    left: 15.93%;
    right: 15.93%;
    top: 21.67%;
    bottom: 21.67%;

    font-family: 'Inria Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 59px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
footer{
    /* Component 9 */

    position: absolute;
    width: 1443px;
    height: 448px;
    left: 20px;
    top: 5804px;



    /* Polygon 1 */

    position: absolute;
    left: 0%;
    right: 56.42%;
    top: 0%;
    bottom: 39.73%;

    background: #E0C4B8;


    /* Rectangle 7 */

    position: absolute;
    left: 0.13%;
    right: 0%;
    top: 17.86%;
    bottom: 33.26%;

    background: #CFAB9C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    /* Rectangle 8 */

    position: absolute;
    left: 0.13%;
    right: 0%;
    top: 57.14%;
    bottom: 0%;

    background: #B09488;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
footer #email{
    position: absolute;
    left: 56px;
    top: 120px;
    font-family: 'Inria Serif';
    font-style: normal;
    
    line-height: 59px;
    display: flex;
    align-items: left;
    text-align: left;
    color: #000000;
}
footer #list1{
    position: absolute;
    left: 56px;
    top: 224px;
    font-family: 'Inria Serif';
    font-style: normal;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
#moon{
    /* Component 8 */
    position: absolute;
    width: 248px;
    height: 153px;
    left: 170px;
    top: 1603px;

}
#twostar{
    /* Component 4 */
    position: absolute;
    width: 150px;
    height: 101px;
    left: 1124px;
    top: 1756px;

}
#stars{
    /* Component 5 */
    position: absolute;
    width: 176px;
    height: 120px;
    left: 147px;
    top: 2630px;

}
#starcloud{
    /* Component 7 */
    position: absolute;
    width: 298px;
    height: 179px;
    left: 964px;
    top: 2690px;
}
#clouds{
    /* Component 6 */
    position: absolute;
    width: 324px;
    height: 241px;
    left: 256px;
    top: 3696px;
}
#fallstar{
    /* falling star */
    position: absolute;
    width: 336px;
    height: 235px;
    left: 889px;
    top: 4709px;
}